.container {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    cursor: pointer;
}
.container:hover {
    background-color: #3b3b3b;
    transition: 25ms;
}
p {
    text-align: center;
    font-size: 24px;
    color: #FFF;
    font-weight: 600;
    text-transform: capitalize;
}
img {
    margin-bottom: 5px;
    height: 300px;
    max-width: 250px;
    border-radius: 15px;
}
.nonImage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    background-color: #ffffff11;
    border-radius: 20px;
    height: 250px;
    width: 250px;
    padding: 30px 15px;
    margin-bottom: 5px;
}
.preco {
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px;
}
.meia {
    color: #FFF6C7;
}