<div class="flex gap-2 flex-col">
    <div>
        <p class="inline">Bem vindo ao </p>
        <h1 class="text-nowrap inline overline font-bold text-2xl">Bilhete Mixuruca</h1>
    </div>
    <form class="flex flex-col p-2 gap-3" (ngSubmit)="onSubmit()" #form="ngForm">
        <fieldset class="fieldset text-left text-base">
            <legend class="fieldset-legend dark:text-[#E9C7FF]">Escolha o estado a seguir</legend>
            <select class="select appearance-none outline-0 dark:text-white" required name="estados" id="estados" [(ngModel)]="estado" >
                <option value="" disabled selected hidden>Selecione um estado</option>
                @for (item of estados; track $index) {
                    <option [ngValue]="item.uf">{{item.name}}</option>
                }
            </select>
        </fieldset>
        <fieldset class="fieldset text-left text-base">
            <legend class="fieldset-legend dark:text-[#E9C7FF]">Escolha a cidade</legend>
            <select class="select appearance-none outline-0 dark:text-white" required name="cidades" id="cidades" [(ngModel)]="cidade">
                <option value="" disabled selected hidden>Selecione uma cidade</option>
                @for (item of estados; track $index) {
                    @if (item.uf === estado) {
                        @for (elemento of item.cities; track $index) {
                            <option [ngValue]="elemento.id">{{elemento.name}}</option>
                        }
                    }
                }
            </select>
        </fieldset>
        <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Buscar</button>
    </form>
</div>
