<div class="container">
    <h1>Bem vindo ao <span class="highlight">Bilhete Mixuruca</span><br>Escolha o estado a seguir</h1>
    <select name="estados" id="estados">
        <option value="Escolha o estado">Escolha o estado</option>
        <option value="Escolha o estado">Escolha o estado</option>

        @for (item of items; track $index) {
        }
    </select>
    <p>Escolha a cidade</p>
    <select name="cidades" id="cidades">
        <option value="Escolha a cidade">Escolha a cidade</option>
        @for (item of items; track $index) {
        }
    </select>
    <div class="button"><button type="submit">Enviar</button></div>
</div>
