<div class="background">
    <h2>Promocoes neste momento</h2>
    <nav class="container">
        <ul class="promocoes">
            @for (item of promocoes; track $index) {
                <li>
                    <app-promocoes [urlImage]="item.image" [name]="item.name + ' ' + item.description + ' ' + item.value"></app-promocoes>
                </li>
            }
        </ul>
    </nav>
    <h1>Filmes</h1>
    <nav class="container">
        <ul>
            @for (item of filme; track $index) {
                @if (item.images[0].type === "PosterPortrait") {
                    <li>
                        <app-item class="filmes" [name]="item.title" [urlImage]="item.images[0].url" link="sessions/{{item.id}}/{{item.urlKey}}"></app-item>
                    </li>
                }
                @else {
                    <li>
                        <app-item class="filmes" [name]="item.title" [urlImage]="item.images[1].url" link="sessions/{{item.id}}/{{item.urlKey}}"></app-item>
                    </li>
                }
            }
        </ul>
    </nav>
</div>