.background {
    background-color: #252522;
    padding: 30px;
}
.promocoes {
    width: 200px;
    height: 300px;
}
.container {
    margin-top: 30px;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}